.homepage_bgcolor {
    // width: 100%;
    // height: 100%;
    background-color: $bgcColor;
}
.clouds{
    .cloud {
        animation: move 28s linear infinite;
        position: fixed;
        top: 30vh;
        opacity: 0.9;
    }
    @keyframes move {
        0% {
            transform: translateX(-300px);
        }
        100% {
            transform: translateX(2200px);
        }
    }
    
    .cloud2 {
        animation: move2 28s linear infinite;
        position: fixed;
        top: 20vh;
        opacity: 0.9;
    }
    @keyframes move2 {
        0% {
            transform: translateX(-850px);
        }
        100% {
            transform: translateX(1700px);
        }
    }
    .cloud3 {
        animation: move3 36s linear infinite;
        position: fixed;
        top: 26vh;
        opacity: 0.8;
    }
    @keyframes move3 {
        0% {
            transform: translateX(-2000px);
        }
        100% {
            transform: translateX(2400px);
        }
    }
}
//首頁形象圖
.home {
    // height: 750px;
    .container {
    background: url("../pic/index/1020_bg_pic.svg") no-repeat;
    background-position: center;
    width: 100%;
    overflow: hidden;
    height: 750px;
    margin: 0 auto;
    position: relative;
    z-index: 7;
    .scene {
        width: 100%;
            .tent_1{
                background: url("../pic/index/1020_bg_tent.svg") no-repeat;
                background-position: center;
                width: 100%;
                overflow: hidden;
                height: 750px;
                margin: 0 auto;
            }
        }
    }
    .bg_logo {
    width: 250px;
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
    }
}


//揪團
.home_group{
    width: 100%;
    position: relative;
    z-index: 7;
    margin: 0 auto 50px;
    .wrap{
        .homepage_title{
            border-bottom: 2px solid #707070;
            .title_area{
                display: inline-block;
                .img{
                    display: inline-block;
                    img{
                        display: inline-block;
                        width: 36px;
                        height: 36px;
                    }
                }
                .title_text{
                    display:inline;
                }
            }
            .homepage_sub_title{
                display: flex;
                justify-content: flex-start;
                .sub_text{
                    align-self: center;
                    width: 550px;
                    margin: 10px 90px 10px 40px;
                }
                .home_search{
                    margin: 10px 0;
                }
            }
        }
        .content1{
            margin: 20px auto 0;
            height: 400px;
            text-align: center;
            .gMainGroups{
                width:100%;
                // border: 1px solid red;
                height: 250px;
                margin: 20px 0 40px 0;
                font-size: 0;
                a{
                    background-color: $white;
                    overflow: hidden;
                    border-radius: 5px;
                    height: 100%;
                    width: 100%;
                    margin-right: 40px;
                    display: inline-block; 
                    width: calc( (100% - 120px) / 4);
                    &:last-child{
                        margin-right: 0px;
                    }    
                    .gMainGroup{
                        
                        .img{
                            width: 100%;
                            height: 180px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
                
                
            }
        }
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .home_group{

        .wrap{
            .homepage_title{
                .homepage_sub_title{
                    .sub_text{
                        width: 450px;
                        margin: 10px 50px 10px 40px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .home_group{
        .wrap{
            .homepage_title{
                .homepage_sub_title{
                    .sub_text{
                        width: 330px;
                        margin: 10px auto;
                    }
                }
            }
            .content1{
                .gMainGroups{
                    a{
                        width: calc( (100% - 80px) / 3);
                        &:nth-child(3){
                            margin-right: 0px;
                        }
                        &:last-child{
                            display: none;
                            margin-right: 0px;
                        }    
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px){
    .home_group{
        .wrap{
            .homepage_title{
                .homepage_sub_title{
                    display: block;
                    .sub_text{
                        width: 470px;
                        padding: 0 5px;
                    }
                    .home_search{
                        width: 470px;
                        margin: 10px auto;
                    }
                }
            }
            .content1{
                .gMainGroups{
                    margin: 10px 0;
                    a{
                        width: calc( (100% - 40px) / 2);
                        &:nth-child(2){
                            margin-right: 0px;
                        }
                        &:last-child, &:nth-child(3){
                            display: none;
                            margin-right: 0px;
                        }    
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 576px){
    .home_group{
        .wrap{
            .homepage_title{
                .homepage_sub_title{
                    .sub_text{
                        max-width: 500px;
                        width: 100%;
                        margin: 10px auto;
                        padding: 0 5px;
                    }
                    .home_search{
                        width: calc(100% - 10px);
                    }
                }
            }
        }
    }
}


//設備交換
.home_equipment{
    width: 100%;
    position: relative;
    z-index: 7;
    margin: 0 auto 50px;
    .wrap{
        .homepage_title{
            border-bottom: 2px solid #707070;
            .title_area{
                display: inline-block;
                .img{
                    display: inline-block;
                    img{
                        display: inline-block;
                        width: 36px;
                        height: 36px;
                    }
                }
                .title_text{
                    display:inline;
                }
            }
            .homepage_sub_title{
                display: flex;
                justify-content: flex-start;
                .sub_text{
                    align-self: center;
                    width: 550px;
                    margin: 10px 90px 10px 40px;
                }
                .home_search{
                    margin: 10px 0;
                }
            }
        }
        .content2{
            margin: 20px auto 0;
            .home_equ_step {
                margin: 40px 0 20px 0;
                display: flex;
                justify-content: center;
                .equ_step01 {
                    .equ_step01_num {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        color: $white;
                        background-color: $yellowColor1;
                        display: inline-block;
                        vertical-align: middle;
                        p {
                            font-size: 36px;
                            text-align: center;
                        }
                    }
                .equ_step01_desc {
                    p {
                        font-size: 18px;
                        margin-top: 30px;
                    }
                }
                .equ_step_line {
                        border: 1px solid $greenColor1;
                        width: 120px;
                        margin: 0 30px 0 30px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
            .home_equ_pic_title {
                margin-top: 60px;
                text-align: center;
            }
            .home_equ_pic {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 20px 0;
                #equ_leftBtn {
                    margin-right: 15px;
                }
                .home_equ_block {
                    width: 1025px;
                    height: 320px;
                    overflow: hidden;
                    .allequ {
                        font-size: 0;
                        position: relative;
                        .euq_min_list {
                            background-color: $white;
                            text-align: center;
                            margin: 30px 15px 0 0;
                            width: 190px;
                            height: auto;
                            display: inline-block;
                            border-radius: 8px;
                            overflow: hidden;
                            .home_equ_img {
                                img{
                                    width: 100%;
                                }
                            }
                            .home_equ_info{
                                .home_equ_text {
                                    padding: 15px;
                                    margin-top: 15px;
                                    a{
                                        text-decoration: none; 
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 992px) and (max-width: 1199px){
    .home_equipment{
        .wrap{
            .homepage_title{
                .homepage_sub_title{
                    .sub_text{
                        width: 450px;
                        margin: 10px 50px 10px 40px;
                    }
                }
            }
            .content2{
                // border: 1px solid blue;
                .home_equ_pic{
                    .home_equ_block{
                        width: 820px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .home_equipment{
        .wrap{
            .homepage_title{
                .homepage_sub_title{
                    .sub_text{
                        width: 330px;
                        margin: 10px auto;
                    }
                }
            }
            .content2{
                // border: 1px solid blue;
                .home_equ_step {
                    .equ_step01 {
                        .equ_step_line {
                        width: 80px;
                        }
                    }
                }
                .home_equ_pic{
                    .home_equ_block{
                        width: 615px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px){
    .home_equipment{
        .wrap{
            .homepage_title{
                .homepage_sub_title{
                    display: block;
                    .sub_text{
                        width: 470px;
                        padding: 0 5px;
                    }
                    .home_search{
                        width: 470px;
                        margin: 10px auto;
                    }
                }
            }
            .content2{
                .home_equ_step {
                    .equ_step01 {
                        .equ_step01_num{
                            width: 50px;
                            height: 50px;
                            p{
                                font-size: 30px;
                            }
                        }
                        .equ_step_line {
                        width: 50px;
                        margin: 0 15px 0 15px;
                        }
                        .equ_step01_desc {
                            width: 36px;
                            margin-left: 7px;
                            p {
                                font-size: 18px;
                                margin: 15px auto;
                            }
                        }
                    }
                }
                .home_equ_pic{
                    .home_equ_block{
                        width: 410px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 576px){
    .home_equipment{
        .wrap{
            .homepage_title{
                .homepage_sub_title{
                    .sub_text{
                        max-width: 500px;
                        width: 100%;
                        margin: 10px auto;
                        padding: 0 5px;
                    }
                    .home_search{
                        width: calc(100% - 10px);
                    }
                }
            }
            .content2{
                // border: 1px solid blue;
                .home_equ_step {
                    .equ_step01 {
                        margin-right: 20px;
                        .equ_step01_num{
                            width: 50px;
                            height: 50px;
                            p{
                                font-size: 30px;
                            }
                        }
                        .equ_step_line {
                            display: none;
                        }
                    }
                    .equ_step01:last-child{
                        margin-right: 0;
                    }
                }
                .home_equ_pic{
                    .home_equ_block{
                        width: 205px;
                    }
                }
            }
        }
    }
}

//營地搜尋
.home_camping{
    width: 100%;
    position: relative;
    z-index: 7;
    margin: 0 auto 50px;
    .wrap{
        .homepage_title{
            border-bottom: 2px solid #707070;
            .title_area{
                display: inline-block;
                .img{
                    display: inline-block;
                    img{
                        display: inline-block;
                        width: 36px;
                        height: 36px;
                    }
                }
                .title_text{
                    display:inline;
                }
            }
            .homepage_sub_title{
                .sub_text{
                    width: 550px;
                    margin: 10px 90px 10px 40px;
                }
                .home_search{
                    margin: 10px 0;
                }
            }
        }
        .content3{
            margin: 20px auto 0;
            .home_map {
                margin: 0 auto;
                .home_weather_layout {
                  display: flex;
                  justify-content: center;
                  .search_area {
                    border-bottom: none;
                  }
                  .infos {
                    width: 50%;
                    border-bottom: none;
                    display: inline-flex;
                    justify-content: flex-start;
                  }
                  .PoP {
                    margin: 0 20px;
                  }
                }
              }
              .home_map_layout {
                margin: 0 auto;
                max-width: 1000px;
                width: 100%;
                height: 400px;
                border-radius: 8px;
                overflow: hidden;
                .map {
                  background: #333;
                  display: block;
                  max-width: 1000px;
                  width: 100%;
                  height: 400px;
                  margin: 0;
                }
              }
        }
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .home_camping{
        .wrap{
            .homepage_title{
                .homepage_sub_title{
                    .sub_text{
                        width: 450px;
                        margin: 10px 50px 10px 40px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .home_camping{
        .wrap{
            .homepage_title{
                .homepage_sub_title{
                    .sub_text{
                        width: 330px;
                        margin: 10px auto;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px){
    .home_camping{
        .wrap{
            .homepage_title{
                .homepage_sub_title{
                    display: block;
                    .sub_text{
                        width: 470px;
                        padding: 0 5px;
                    }
                }
            }
            .content3 {
                margin: 20px auto 0;
                .home_map {
                    display: block;
                    .home_weather_layout {
                        display: block;
                        .infos {
                        max-width: 540px;
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        }
                        .PoP {
                        margin: 0;
                        }
                    }
                    }
            }
        }
    }
}
@media screen and (max-width: 576px){
    .home_camping{
        .wrap{
            .homepage_title{
                .homepage_sub_title{
                    .sub_text{
                        max-width: 500px;
                        width: 100%;
                        margin: 10px auto;
                        padding: 0 5px;
                    }
                }
            }
        }
    }
}

//明信片
.home_postcard{
    width: 100%;
    position: relative;
    z-index: 7;
    margin: 0 auto 50px;
    .wrap{
        .homepage_title{
            border-bottom: 2px solid #707070;
            .title_area{
                display: inline-block;
                .img{
                    display: inline-block;
                    img{
                        display: inline-block;
                        width: 36px;
                        height: 36px;
                    }
                }
                .title_text{
                    display:inline;
                }
            }
            .homepage_sub_title{
                display: flex;
                justify-content: flex-start;
                .sub_text{
                    align-self: center;
                    width: 550px;
                    margin: 10px 90px 10px 40px;
                }
            }
        }
        .content4{
            margin: 20px auto 0;
            width: 100%;
            height: 400px;
            background-image: url("../../pic/postcardMaterial/paper/paper1.png");
            display: flex;
            justify-content: space-between;
            border-radius: 10px;
            margin-bottom: 40px;
            .postcardHomeLeft{
                width: 50%;
                height: 100%;
                position: relative;
                .posHomePutPhoto{
                    width: 90%;
                    height: 80%;
                    margin: 0 auto;
                    margin-top: 15px;
                    background-image: url('../../pic/postcardMaterial/presetPhoto/postcardPhoto3.jpg');
                    border-radius: 10px;
                }
                .posHomeLogo{
                    padding: 10px 15px 10px 15px;
                    width: 13%;
                    border-radius: 50%;
                    position: absolute;
                    left: 45%;
                    bottom: 5%;
                    background-image: url("../../pic/postcardMaterial/paper/paper1.png");
                }
            }
            .postcardHomeRight{
                width: 49%;
                height: 100%;
                border-left: 3px solid $greenColor2;
                .posHomeWords{
                    height: 75%;
                    position: relative;
                    h1{
                        position: absolute;
                        left: 8%;
                        top: 9%;
                    }
                    p{
                        width: 80%;
                        margin: 0 auto;
                        margin-bottom: 5%;
                        position: absolute;
                        line-height: 60px;
                        left: 8%;
                        top: 20%;
                    }
                    .HomePosLittle{
                        width: 18%;
                        position: absolute;
                    }
                    #Poslittle1{
                        bottom: -18%;
                        left: 3%;
                    }
                    #Poslittle2{
                        bottom: -19%;
                        left: 25%;
                    }
                    #Poslittle3{
                        bottom: -16%;
                        left: 46%;
                    }
                }
                .posFromTo{
                    width: 30%;
                    float: right;
                }
            }
        }
        .linkPostcard{
            width: 200px;
            margin: 0 auto;
            text-align: center;
            a{
                text-align: center;
                .posHomeBtn{
                    margin: 0 auto;
                }
            }
        }

    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .home_postcard{
        .wrap{
            .homepage_title{
                .homepage_sub_title{
                    .sub_text{
                        width: 450px;
                        margin: 10px 50px 10px 40px;
                    }
                }
            }
            .content4{
                
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .home_postcard{
        .wrap{
            .homepage_title{
                .homepage_sub_title{
                    .sub_text{
                        width: 330px;
                        margin: 10px auto;
                        margin-left: 10px;
                    }
                }
            }
            .content4{
                .postcardHomeLeft{

                    .posHomePutPhoto{

                    }
                    .posHomeLogo{
                        width: 20%;
                        left: 43%;
                    }
                }
                .postcardHomeRight{

                    .posHomeWords{

                        h1{

                        }
                        p{
                            line-height: 45px;
                        }
                        .HomePosLittle{

                        }
                        #Poslittle1{

                        }
                        #Poslittle2{

                        }
                        #Poslittle3{

                        }
                    }
                    .posFromTo{

                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px){
    .home_postcard{
        .wrap{
            .homepage_title{
                .homepage_sub_title{
                    display: block;
                    .sub_text{
                        width: 470px;
                        padding: 0 5px;
                    }
                    .home_search{
                        width: 470px;
                        margin: 10px auto;
                    }
                }
            }
            .content4{
                height: 350px;
                .postcardHomeLeft{

                    .posHomePutPhoto{

                    }
                    .posHomeLogo{
                        width: 25%;
                        left: 39%;
                    }
                }
                .postcardHomeRight{

                    .posHomeWords{

                        h1{
                            top: 5%;
                        }
                        p{
                            line-height: 38px;
                            font-size: 16px;
                        }
                        .HomePosLittle{

                        }
                        #Poslittle1{
                            bottom: -10%;
                        }
                        #Poslittle2{
                            bottom: -12%;
                            left: 30%;
                        }
                        #Poslittle3{
                            left: 18%;
                            bottom: -27%;   
                        }
                    }
                    .posFromTo{
                        width: 40%;
                        p{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 576px){
    .home_postcard{
        .wrap{
            .homepage_title{
                .homepage_sub_title{
                    .sub_text{
                        max-width: 500px;
                        width: 100%;
                        margin: 10px auto;
                        padding: 0 5px;
                    }
                }
            }
            .content4{
                flex-wrap: wrap;
                height: 500px;
                .postcardHomeLeft{
                    flex: 100%;
                    height: 60%;
                    .posHomePutPhoto{

                    }
                    .posHomeLogo{
                        width: 68px;
                        left: 43%;
                        bottom: 2%;
                    }
                }
                .postcardHomeRight{
                    height: 180px;
                    width: 100%;
                    .posHomeWords{
                        height: 65%;
                        h1{
                            top: -32%;
                        }
                        p{
                            line-height: 25px;
                            font-size: 16px;
                            top: -5%;
                        }
                        .HomePosLittle{
                            width: 20%;
                        }
                        #Poslittle1{
                            bottom: -40%;
                            left: 3%;
                        }
                        #Poslittle2{
                            bottom: -40%;
                            left: 50%;
                        }
                        #Poslittle3{
                            bottom: -40%;
                            left: 27%;
                        }
                    }
                    .posFromTo{
                        width: 82px;
                        right: 6%;
                        position: absolute;
                        p{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

//小遊戲
.home_game{
    width: 100%;
    position: relative;
    z-index: 7;
    margin: 0 auto;
    background-image: url(../pic/index/1020_bg_footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    .wrap{
        .homepage_title{
            border-bottom: 2px solid #707070;
            .title_area{
                display: inline-block;
                .img{
                    display: inline-block;
                    img{
                        display: inline-block;
                        width: 36px;
                        height: 36px;
                    }
                }
                .title_text{
                    display:inline;
                }
            }
            .homepage_sub_title{
                display: flex;
                justify-content: flex-start;
                .sub_text{
                    align-self: center;
                    width: 550px;
                    margin: 10px 90px 10px 40px;
                }
            }
        }
        .content5{
            margin: 20px auto 0;
            padding-bottom: 10px;
            .game_table {
                margin: 0px auto 0;
                .game_title {
                    padding-left: 10%;
                    width: 100%;
                }
                form {
                    // border: 1px solid red;
                    .game_title_question01 {
                    margin: 0 auto;
                    text-align: center;
                    padding-top: 30px;
                    }
                    .game_button {
                    text-align: center;
                    margin: auto;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .home_game{
        .wrap{
            .homepage_title{
                .homepage_sub_title{
                    .sub_text{
                        width: 450px;
                        margin: 10px 50px 10px 40px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .home_game{
        .wrap{
            .homepage_title{
                .homepage_sub_title{
                    .sub_text{
                        width: 330px;
                        margin: 10px auto;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px){
    .home_game{
        .wrap{
            .homepage_title{
                .homepage_sub_title{
                    display: block;
                    .sub_text{
                        width: 470px;
                        padding: 0 5px;
                    }
                    .home_search{
                        width: 470px;
                        margin: 10px auto;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 576px){
    .home_game{
        .wrap{
            .homepage_title{
                .homepage_sub_title{
                    .sub_text{
                        max-width: 500px;
                        width: 100%;
                        margin: 10px auto;
                        padding: 0 5px;
                    }
                }
            }
        }
    }
}
