$greenColor1: #007E85;
$greenColor2: #70CACE ;
$greenColor3: #00A5A3;
$greenColor4: #F3F8F4;
$grayColor1: #626262;
$grayColor2: #C4C4C4;
$yellowColor1: #FFAE08;
$yellowColor2: #FFCD43;
$orangeColor1: #FC8F24;
$orangeColor2: #F85619;
$black:#000000;
$white: #FFFFFF;
$bgcColor:#AFDCDE;
