
//button
$mainbtnwidth: 250px;
$secondbtnwidth: 120px;


$mainbtnheight: 45px;
$secondbtnheight: 45px;
$thirdbtnheight: 35px;
$tagbtnheight:30px;

$padding_btn:0 15px;

$radius: 8px;
$radius2: 5px;

$btn_move:3px;

$appearence: none;
$cursor: pointer;
$border: 3px;
$outline: 0;

//input
$inputwidth: 600px;
$inputheight: 60px;

$inputbtnwidth: 150px;

//text
$textwidth: 100%;
$height: auto;
$weight_btn:bold;

