//rwd 斷點
$desktop : 1140px;
$medium : 960px;
$small: 720px;

@mixin grids($num) {
    @for $i from 1 through $num {
        .col-sm-#{$i} {
            width: ($i / $num) * 100%;
        }
    }
}


@mixin grid-box($breakpoint ,$num) {
    @for $i from 1 through $num {
        .col-#{$breakpoint}-#{$i} {
            width: ($i / $num) * 100%;
            display: inline-block;
        }
    }
}
